@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./theme.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  --sidebar: #2a2a2a;
  --sidebar-foreground: #f4f4f5;
  --sidebar-primary: #6366f1;
  --sidebar-primary-foreground: #f4f4f5;
  --sidebar-accent: #3f3f46;
  --sidebar-accent-foreground: #f4f4f5;
  --sidebar-border: rgba(244, 244, 245, 0.1);
  --sidebar-ring: #6366f1;
}

#root {
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.auth-bg {
  background-image: url("/src/assets/auth-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-meal-card-bg: #333333;
  --color-meal-card-border: #c4c4c4;
  --color-meal-header-bg: #2a2a2a;
  --color-macro-card-bg: #38383c;
  --color-macro-card-border: #777777;
  --color-meal-summary-bg: #383846;
  --color-meal-bullet: #6366f1;
  --color-status-in-use-bg: #263a2e;
  --color-status-in-use-border: #1e5634;
  --color-status-in-use-text: #00c951;
  --color-tag-text: #2f6bff;
  --color-button-bg: #373739;
  --color-button-destructive: #7f1d1d;
  --color-text-muted: #a1a1aa;
  --color-separator: #998b8b;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
